div#ttl_clock
  h1
    span ただいまの時間は
    strong 88:88:88
    span です
  noscript JavaScriptを有効にしてください
div#clock
  div.clock__col
    svg.clock__circle(xmlns="http://www.w3.org/2000/svg" width="240px" height="240px")
      title 88時
      circle.__bg(cx="120" cy="120" r="100")
      circle.__type_01(cx="120" cy="120" r="100")
  div.clock__col
    svg.clock__circle(xmlns="http://www.w3.org/2000/svg" width="240px" height="240px")
      title 88時
      circle.__bg(cx="120" cy="120" r="100")
      circle.__type_01(cx="120" cy="120" r="100")
  div.clock__col
    svg.clock__circle(xmlns="http://www.w3.org/2000/svg" width="240px" height="240px")
      title 88時
      circle.__bg(cx="120" cy="120" r="100")
      circle.__type_01(cx="120" cy="120" r="100")
