@charset "UTF-8";

@import "_reset.scss";

body {
  background-color: #444;
}

#page {
  padding: 100px 0;
}

#main {
  margin: 0 auto;
  max-width: 840px;
}

#clock {
  // display: flex;
  // padding: 2em 30px;
  .clock_content {
    display: flex;
    background-color: #333;
    border-radius: 4px;
    padding: 30px;
  }
  .clock_col {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    + .clock_col {
      margin-left: 30px;
    }
  }
  .clock_circle {
    transform: rotate(-90deg);
    circle {
      fill: transparent;
      stroke-width: 80px;
      &.__type_01 {
        stroke: #0beadc;
        stroke-dasharray: 0 628;
        transition: stroke-dasharray .5s;
      }
      &.__bg {
        stroke: #444;
        stroke-dasharray: 628 628;
      }
    }
  }
  .clock__col {
    flex-shrink: 0;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    .clock__circle {
      transform: rotate(-90deg);
      circle {
        fill: transparent;
        stroke-width: 80px;
        &.__type_01 {
          stroke: #0beadc;
          stroke-dasharray: 0 628;
          transition: stroke-dasharray .5s;
        }
        &.__bg {
          stroke: #444;
          stroke-dasharray: 628 628;
        }
      }
    }
  }
}

.clock_pgh {
  font-size: 5rem;
  color: #fff;
  text-align: center;
}
